<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base :: layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<section>

		<div class="container mt-3">
    <h2 class="mb-4  text-center">Add New Contact</h2>
    <form th:action="@{/user/process-contact}" th:object="${contact}" method="post" enctype="multipart/form-data">
       <div th:if="${msg1}" class="alert alert-success" role="alert" th:text="${msg1}"></div>
              <div th:if="${msg2}" class="alert alert-danger " role="alert" th:text="${msg2}" ></div>
       
    

        <!-- First Name -->
        <div class="mb-3 input-group">
            <span class="input-group-text"><i class="fa fa-user"></i></span>
            <input  type="text" th:field="*{name}" class="form-control" placeholder="Enter Full Name" required>
        </div>

        <!-- Second Name -->
        <div class="mb-3 input-group">
            <span class="input-group-text"><i class="fa fa-user"></i></span>
            <input type="text" th:field="*{secondName}" class="form-control" placeholder="Enter Nick Name">
        </div>

        <!-- Work -->
        <div class="mb-3 input-group">
            <span class="input-group-text"><i class="fa fa-briefcase"></i></span>
            <input type="text" th:field="*{work}" class="form-control" placeholder="Enter work">
        </div>

        <!-- Email -->
        <div class="mb-3 input-group">
            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
            <input type="email" th:field="*{email}" class="form-control" placeholder="Enter email" required>
        </div>

        <!-- Phone -->
        <div class="mb-3 input-group">
            <span class="input-group-text"><i class="fa fa-phone"></i></span>
            <input min="10" max="14" type="text" th:field="*{phone}" class="form-control" placeholder="Enter phone number" required>
        </div>

        <!-- Image -->
        <div class="mb-3 input-group">
            <span class="input-group-text"><i class="fa fa-image"></i></span>
            <input type="file" name="profileImage" class="form-control">
        </div>

        <!-- Description -->
        <div class="mb-3 input-group">
            <span class="input-group-text"><i class="fa fa-align-left"></i></span>
            <textarea th:field="*{description}" class="form-control" rows="4" placeholder="Enter description"></textarea>
        </div>

        <!-- Submit -->
        <button type="submit" class="btn btn-primary">Save Contact</button>
    </form>
</div>



<script >
		$(document).ready(function () {
				$(".item").removeClass("active");
				$('#add-link').addClass('active');
			});
		
		</script>

</section>

</body>
</html>