<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{normal/base :: layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
	
		<div class="container mt-3">
			<h2 class="mb-4  text-center">Update Your Profile</h2>
			<form th:action="@{/user/process-update-profile}" th:object="${user}" method="post" enctype="multipart/form-data">
				<input type="hidden" th:field="*{id}" />
	
	
				<div th:if="${msg1}" class="alert alert-success" role="alert" th:text="${msg1}"></div>
				<div th:if="${msg2}" class="alert alert-danger " role="alert" th:text="${msg2}"></div>
	
	
	
				<!-- First Name -->
				<div class="mb-3 input-group">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                    <input type="text" th:field="*{name}" class="form-control" placeholder="Enter Full Name" required>
                    
                   </div>
                   
                <!-- profile photo -->
                <div class="text-center">
                <img th:src="${user.imageUrl == 'default.png' ? '/images/default.png' : user.imageUrl}" alt="Profile Image" class="img-fluid rounded-circle mb-3" style="width: 150px; height: 150px;">
                </div>
                <div class="mb-3 input-group">
            <span class="input-group-text"><i class="fa fa-image"></i></span>
            <input type="file" name="profileImage" class="form-control">
        </div>
        
				<!-- About Me -->
			 <!-- Description -->
        <div class="mb-3 input-group">
            <span class="input-group-text"><i class="fa fa-align-left"></i></span>
            <textarea th:field="*{about}" class="form-control" rows="4" placeholder="Enter description"></textarea>
        </div>

        <!-- Submit -->
        <button type="submit" class="btn btn-primary">Update Profile</button>
    </form>
</div>
	
		
		
</section>

</body>
</html>